.header{
    background-image: url(../img/showcase.jpg);
    background-size: cover;
    background-position: center;
    ::selection{
        background:white;
        color:black;
    }

    .container{
        min-height: 100vh;
        display:grid;
        align-items: center;
        justify-items: start;
        align-content: center;
        gap:2rem;
    }

}