.story {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-top: 4rem;
        
    }

    .title {
        color: var(--blueText);
        font-size: 4rem;
        line-height: 1;
        font-weight: 900;
        width:80%;
        margin-bottom: 2rem;
    }

    .sub {
        color: var(--darkText2);
        width:80%;
        font-weight:600;
        margin-bottom: 2rem;
    }

    &__cover{
        position: relative;
        height:20rem;
    }

    &__img{
        position:absolute;
        display:block;
        border-radius: 1rem;
        border:20px solid white;
        box-shadow: 0 0 1rem rgba(black,0.2);
        left:-10rem;
    }

    .btn{
        position: relative;
        bottom: -2rem;
    }

 
}
